<div
  class="moo-promo-popup"
  data-moo-promo-popup
  data-delay-ms="2600"
  data-dismiss-hours="24"
  hidden
>
  <div class="moo-promo-popup__backdrop" data-moo-promo-dismiss></div>
  <div
    class="moo-promo-popup__dialog"
    role="dialog"
    aria-modal="true"
    aria-labelledby="MooPromoPopupTitle"
    aria-describedby="MooPromoPopupBody"
  >
    <button
      type="button"
      class="moo-promo-popup__close"
      aria-label="Close free shipping offer"
      data-moo-promo-dismiss
    >
      <span></span>
      <span></span>
    </button>

    <p class="moo-promo-popup__eyebrow">M&#332;&#332; offer</p>
    <h2 class="moo-promo-popup__title" id="MooPromoPopupTitle">Free shipping on orders $50+</h2>
    <p class="moo-promo-popup__body" id="MooPromoPopupBody">
      Stock up on M&#332;&#332; Steak Chips and we&rsquo;ll cover standard shipping.
    </p>

    <div class="moo-promo-popup__actions">
      <a href="/pages/bundle" class="moo-promo-popup__cta" data-moo-promo-cta>Shop bundles</a>
      <button type="button" class="moo-promo-popup__secondary" data-moo-promo-dismiss>No thanks</button>
    </div>
  </div>
</div>
