<div class="cinematic-marquee">
  <div class="cinematic-marquee-inner">
    <span>72 Hours Low Temperature</span><span>&bull;</span><span>55g Protein per 100g</span><span>&bull;</span><span>Zero Additives</span><span>&bull;</span><span>Grass-fed Beef</span><span>&bull;</span><span>Hand Trimmed</span><span>&bull;</span>
    <span>72 Hours Low Temperature</span><span>&bull;</span><span>55g Protein per 100g</span><span>&bull;</span><span>Zero Additives</span><span>&bull;</span><span>Grass-fed Beef</span><span>&bull;</span><span>Hand Trimmed</span><span>&bull;</span>
  </div>
</div>

{% schema %}
{
  "name": "MOO Marquee",
  "settings": [],
  "presets": [
    {
      "name": "MOO Marquee"
    }
  ]
}
{% endschema %}
