<div class="cinematic-marquee">
  <div class="cinematic-marquee-inner">
    <span>Real Steak</span><span>&bull;</span><span>Ultra-crispy</span><span>&bull;</span><span>16g Protein Per Serving</span><span>&bull;</span><span>90 Calories Per 1 oz Serving</span><span>&bull;</span><span>1g Fat</span><span>&bull;</span><span>2g Carbs</span><span>&bull;</span><span>Gluten Free</span><span>&bull;</span><span>No Preservatives</span><span>&bull;</span><span>Handcrafted in Virginia</span><span>&bull;</span>
    <span>Real Steak</span><span>&bull;</span><span>Ultra-crispy</span><span>&bull;</span><span>16g Protein Per Serving</span><span>&bull;</span><span>90 Calories Per 1 oz Serving</span><span>&bull;</span><span>1g Fat</span><span>&bull;</span><span>2g Carbs</span><span>&bull;</span><span>Gluten Free</span><span>&bull;</span><span>No Preservatives</span><span>&bull;</span><span>Handcrafted in Virginia</span><span>&bull;</span>
  </div>
</div>

{% schema %}
{
  "name": "MOO Marquee",
  "settings": [],
  "presets": [
    {
      "name": "MOO Marquee"
    }
  ]
}
{% endschema %}
